.root {
    -fx-background-color: #ad987f;
}

#titleLabel {
    -fx-font-size: 48px;
    -fx-text-fill: #000000;
    -fx-font-family: "Coiny";
    -fx-font-weight: bold;

}

#loginButton, #signUpButton, #signInButton {
    -fx-font-family: "Coiny";
    -fx-font-size: 18px;
    -fx-background-radius: 100px;
    -fx-font-weight: bold;
    -fx-background-color: #ececec;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
}
.back-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.txt_username, .txt_password { 
    −fx-font-family: "Coiny"; 
    -fx-border-radius: 10px;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2;
    -fx-font-size: 50px;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #888888; 
    
}
#label_error {
    -fx-text-fill: red;
    -fx-font-size: 15px;
    -fx-font-family: Coiny;
    -fx-text-alignment: center;
}
